body{
    background-color: #FFF4FD;
}
.upbar{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
}
.upbar div{
    color: #FFFFFF;
}
.btnTopics{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
}
.btnTopics ~ a{
    color: #110038;
}
.btnTopics ~ a:hover{
    border: 1px dotted #110038;
}
.btnIcon{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
.dropdown-content {
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#dropdownBtn{
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}
#changeLinks1, #changeLinks2{
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}
#changeLinks1:hover, #changeLinks2:hover{
    background: #2E32FB;
    border: 1px solid rgba(51,53,143,0.20);
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}
.section1{
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}
.title1{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    color: #FFFFFF;
}
input{
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}
input::placeholder{
    color: #B4B4B4;
}
.searchbutton{
    background: #B4B4B4;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}
.searchbutton span{
    color:grey;
}
.searchbutton img{
    color: grey;
}
.section2{
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}
.section2 div{
    color: #110038;
}
.box {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}
.hover-effect:hover{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
.boxTransparent:hover{
    border: 1px dotted #110038;
}
.tags{
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}
.title2{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}
.title2 div{
    color: #FFFFFF;
}
.suggestionBox div{
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}
.suggestionBox div:hover{
    border: 1px solid #110038;
}
/* GIFS ----------------------------------------------------------------------------------------------------------*/
.gifBoxBtn{
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}
.gifBoxBtn a{
    color: #FFFFFF;
}
/* CREAR GIFS ////////////////////////////////////////////////////////////////*/
.createBox{
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}
.steps{
    color: #110038;
}
.cancel-button{
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
}
.videoBox{
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}
button:disabled {
    background: #dddddd;
}
#btnStartRecording div,
#btnStartRecording div + div, 
#btnSendGif{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
#btnStopRecording div,
#btnStopRecording div + div{
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}
#btnRestartCapture,
#btnCancel{
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
.timer{
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}
.video-progress-bar{
    background: #B4B4B4;
    box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #FFFCFC;
}
.video-progress-bar div {
    background: #999999;
}
.cell1,
.cell2,
.cell3,
.cell4{
    background: #F7C9F3!important;
}
.play-button{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
.sending-gif{
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}
.sending-gif p{
    color: #110038;
}
.sending-gif p ~ p{
    color: rgba(17,0,56,0.64);
}
/* GUIFO TERMINADO ////////////////////////////////////////////////////////////////*/
.finished-guif{
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}
.btn-copy{
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
.btn-ready{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}